html * {
    font-family: "Open Sans";
}

nav.navbar {
    border-radius: 0;
}

h2 {
    font-weight: 300;
}
h2.title {
    color: #2aabd2;
    font-size: 170%;
}

div.jumbotron,
div#profile-background {
    margin-top: 54px;
}
div#profile-image {
    width: 212px;
    height: 212px;
    /*background-color: #fff;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 50%;*/
    z-index: 2;
    margin: -100px auto 0;
}
div#profile-image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/* Fixed top navigation */

body > .container {
    padding: 54px 15px 0;
}

.tab-navigation {
    width: 100%;
    margin: 2rem 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    line-height: 3;
    text-transform: uppercase;
}

.tab-navigation .nav-link.active {
    color: inherit;
    background-color: inherit;
    font-weight: 700;
}



/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.bd-footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
}

.bd-footer a {
    font-weight: 500;
    color: #55595c;
}

.bd-footer a:hover {
    color: #0275d8;
}

.bd-footer p {
    margin-bottom: 0;
}


.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.bd-footer-links li {
    display: inline-block;
}

.bd-footer-links li + li {
    margin-left: 1rem;
}
