html * {
    font-family: "Open Sans";
}

nav.pegasus-background {
    background-color: #2ABECD;
}

i {
	color: #2ABECD;
}

nav.navbar {
    border-radius: 0;
}

h2 {
    font-weight: 300;
}
h2.title {
    color: #2aabd2;
    font-size: 170%;
}
h5.title{
    color: #2aabd2;
    font-size: 120%;
}

div#main-container{
    padding-top: 2rem;
}


div#personal{
    align-content: center;
}

div#profile-image img {
    margin-top: 2rem;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.profile-thumbnail {
    /*margin: .5rem;*/
    /*background-color: #fff;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 50%;*/
}
.profile-thumbnail img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 2px solid lightblue;
    padding: 4px;
    /*box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);*/
}

.appointment-card {
    border-left-width: 4px;
    border-left-style: solid;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    padding: .5rem;
    margin: .5rem 0;
}
.appointment-card-blue {
  border-color: #2aabd2;
}
.appointment-card-red {
    border-color: #b22222;
}
.appointment-card-green {
    border-color: green;
}
.appointment-date {
    font-weight: 600;
    /*padding: .75rem .5rem;
    width: 30%;*/
}
.appointment-name {
    /*padding: .75rem .5rem .75rem 1rem;*/
    font-weight: 300;
}

.material-h2 {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc;
    font-size: 1.25rem;
    margin: 1rem 0;
}

.text-center {
	padding-top:2rem;
}

/* Fixed top navigation */

body > .container {
    padding: 54px 15px 0;
}

.services .row {
	padding-top:3rem;
}



.tab-navigation {
    width: 100%;
    margin: 2rem 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    line-height: 3;
    text-transform: uppercase;
}

.tab-navigation .nav-link.active {
    color: inherit;
    background-color: inherit;
    font-weight: 700;
}



/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.bd-footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
}

.bd-footer a {
    font-weight: 500;
    color: #55595c;
}

.bd-footer a:hover {
    color: #0275d8;
}

.bd-footer p {
    margin-bottom: 0;
}


.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.bd-footer-links li {
    display: inline-block;
}

.bd-footer-links li + li {
    margin-left: 1rem;
}
