html * {
    font-family: "Open Sans";
}

nav.pegasus-background {
    background-color: #2ABECD;
}

.services i {
	color: #2ABECD;
}

nav.navbar {
    border-radius: 0;
}

h2 {
    font-weight: 300;
}
h2.title {
    color: #2aabd2;
    font-size: 170%;
}
h5.title{
    color: #2aabd2;
    font-size: 120%;
}




div#main-container{
    line-height: 2rem;
    padding-top: 4rem;
}


div#personal{
    align-content: center;
}

div#profile-image img {
    margin-top: 2rem;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.profile-thumbnail {
    /*margin: .5rem;*/
    /*background-color: #fff;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 50%;*/
}
.profile-thumbnail img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    border: 2px solid #2ABECD;
    padding: 4px;
    /*box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);*/
}
.circular-padded-image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 2px solid #ccc;
    padding: 4px;
    /*box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);*/
}
.profile-thumbnail-select {
    position: relative;
}
.profile-thumbnail-select img.unselected {
    opacity: .25;
}
.profile-thumbnail-select img.selected {
    border-color: green;
}
.profile-thumbnail-select,
.horse-selector-name {
    padding: 0 .5rem;
}
.lh-4rem {
    line-height: 4rem;
}
.green-circle-tick {
    z-index: 99;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.appointment-card {
    border-left-width: 4px;
    border-left-style: solid;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    padding: .5rem;
    margin: .5rem 0;
}
.appointment-card-blue {
  border-color: #2aabd2;
}
.appointment-card-red {
    border-color: #b22222;
}
.appointment-card-hotpink {
    border-color: hotpink;
}

.appointment-card p{
	
}
.appointment-date {
    font-weight: 600;
    /*padding: .75rem .5rem;
    width: 30%;*/
}
.appointment-name {
    /*padding: .75rem .5rem .75rem 1rem;*/
    font-weight: 300;
}

.material-h2 {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ccc;
    font-size: 1.25rem;
    margin: 1rem 0;
}


/* Fixed top navigation */

body > .container {
    padding: 54px 15px 0;
}

.services .row {
	padding-top:3rem;
}

.tab-navigation {
    width: 100%;
    margin: 2rem 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    line-height: 3;
    text-transform: uppercase;
}

.tab-navigation .nav-link.active {
    color: inherit;
    background-color: inherit;
    font-weight: 700;
}

table.no-row-border th, table.no-row-border td {
    border-top: none;

}
table.no-margin-bottom {
    margin-bottom: 0rem;
}

/* Calendar Styling
------------------------- */

.month_calendar ul {list-style-type: none;}

.month {
    padding: 0.75rem;
    width: 100%;
    background: #2ABECD;
    text-align: center;
	margin-top:1rem;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    text-transform: uppercase;
}

.month .prev {
    float: left;
}
.month .next {
    float: right;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
	padding-bottom:0;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
}

.days {
    padding: 10px 0;
	padding-bottom:0;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    color: #777;
}


.days li .active {
	border-radius: 5px;
    background: #2ABECD;
    color: white !important
}

.days li .filing {
    border-bottom-style: solid;
	border-bottom-color: cornflowerblue;
}

.days li .shoes {
    border-bottom-style: solid;
	border-bottom-color: hotpink;
}

/* Spacing for mobile screen */
.weekdays li, .days li {
	width: 12.5%;}
.days li .active {
	padding: 2px;}

	
/* Override Bootstrap buttons */
.btn-block.btn-primary {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
    background-color: #2abecd;
    border: none;
}

